h3 {
	color: #df5e54;
	letter-spacing: 3px;
	font-weight: 400;
	text-align: center;
	background: #7d884e;
	padding: 5px 20px 5px 20px;
	border-radius: 10px;
	color: white;
	margin-left: 1em;
	margin-right: 1em;
  }
  .wrapper {
	display: flex;
	align-items:center;
	justify-content: center;
	background: #F2E4D7;
  }
  .wrapper:after,
  .wrapper:before {
	content: '';
	border-top: 1px solid red;
	flex: 1;
	height: 0;
  }

  div.wpforms-container-full .wpforms-form button[type=submit] {
	background-image: url(http://example.com/youricon.svg);
	background-repeat: no-repeat;
	background-position: center;
	color: transparent; /* Hide button text */
	padding: 20px 70px;
	background-color: #00f3ff;
 }



 /* Importing the Roboto font from Google Fonts. */
@import url("https://fonts.googleapis.com/css?family=Roboto:400");

/* Set font of all elements to 'Roboto' */
* {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

/* Remove outline of all elements on focus */
*:focus {
	outline: 0;
}

body {
	background: #7d884e;  /* Set background color to #263238*/
}

h3 {
	text-align: center;
}

/* Add styles to 'container' class */
.container {
	padding: 12px 24px 24px 24px;
	margin: 48px px;
	background: #dedfb3;
	border-radius: 4px;
}

/* Add styles to 'label' selector */
label {
	font-size: 0.85em;
	margin-left: 12px;
}

/* Add styles to 'input' and 'textarea' selectors */
input[type=text],input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* Add styles to show 'focus' of selector */
input[type=text]:focus,input[type=email]:focus, textarea:focus {
	border: 1px solid green;
}

/* Add styles to the submit button */
input[type=submit] {
	background: #007bff;
	margin: 0 auto;
	outline: 0;
	color: white;
	border: 0;
	padding: 12px 24px;
	border-radius: 4px;
	transition: all ease-in-out 0.1s;
	position: relative;
	display: inline-block;
	text-align: center;
}

/* Add styles for 'focus' property */
input[type=submit]:focus {
	background: #A5D6A7;
	color: whitesmoke;
}

/* Style 'hover' property */
input[type=submit]:hover {
	background: #2196F3;
}

/* Align items to center of the 'div' with the class 'center' */
.center {
	text-align: center;
}


* {
	margin:0;
	padding:0;
  }
  body {
	background-color:#dedfb3;
	font-family: 'Raleway', sans-serif;
  }
  #ribbon {
	position:absolute;
	background-color:red;
	color:white;
	top:40px;
	left:-30px;
	width:130px;
	transform:rotate(-45deg);
	text-align:center;
  }
  #container {
	position:absolute;
	width: 70%;
	background-color:#1c5870;
	box-shadow: -2px -2px 5px white,2px -2px 5px white;
	margin-left:1em;
	width: 78%;


  }
  #container > nav {
	display:flex;
	max-height:60px;
	max-width: 95%;
	margin-left:1em;
	margin-right: 0%;

  }
  #logo {
	line-height:60px;
	font-size:20px;
	padding: 0 50px;
	color: #dedfb3;
	width:40%;
	letter-spacing:2px;
	max-width: 1170px;


  }
  #container > nav > ul {
	paddding:0;
	list-style-type:none;
	display:flex;
	position:absolute;
	  right:50px;
	  max-width: 1170px;

  /*   min-width:60%; */
  }
  #container > nav > ul > li {
	line-height:60px;
	margin: 0 0px;
	padding:0;
	text-align:center;
	display:inline-block;
	
  /*   background-color:green; */
	min-width:120px;
  
  } 
  #container > nav > ul > li > a {
	position:relative;
  /*   background-color:red; */
	margin: 0 20px;
	  color:white;
  }
  #container > nav > ul > li:hover {
	border-bottom: 2px solid white;
	background-color: #0088ff;
  }
  #container > nav > ul > .dropdown:hover {
	border-bottom:none;
  }
  #container > nav > ul > .dropdown:hover >  .dd
  {
	display:block;
  }
  .dropdown:hover > a .fa-caret-down {
	display:none;
  }
  a {
	text-decoration:none;
  
  }
  
  #container > nav > ul > li > div {
	position:absolute;
	padding: 0 10px;
	margin: 100px px;
	

	background-color:black;
	display:none;
	background-color:aliceblue;
	min-width:100px;
  }
  
  #container > nav > ul > li > div > ul {
	margin:0px 0 10px 0;
	padding:0;
	list-style:none;
  }
  #u_a_c {
	position:relative;
	width:100%;
  /*   background-color:red; */
  }
  #up_arrow {
	position:relative;
	width:20px;
	height:20px;
	left:42%;
	top:-10px;
	background-color:aliceblue;
	transform:rotate(45deg);
  }
  #container > nav > ul > li> div > ul > li:hover {
	background-color:rgba(0,0,0,0.2);
  }
  #container > nav > ul > li > div > ul > li > a {
	padding : 5px;
	  color:black;
  }
